.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.form-title {
    text-align: left;
}

.ContactForm {
    display: flex;
    width: 100%;
    font-size: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 0 50px;
}

.ContactForm input {
    width: 100%;
    padding: 10px;
}

.ContactForm label {
    width: 100%;
    margin: 10px 0 20px;
}

.ContactForm input::placeholder {
    font-size: 18px;
}

.ContactForm img {
    width: auto;
    height: 200px;
    margin: 30px auto 0;
}

.bottom-block {
    margin-top: 40px;
    display: flex;
    width: 100%;
    align-items: center;
}

.bottom-block button {
    background: royalblue;
    outline: none;
    border: none;
    padding: 15px;
    font-size: 20px;
    color: white;
    margin-right: 30px;
}

.bottom-block button:active {
    background: dodgerblue;
}

.bottom-block a {
    text-decoration: none;
    color: royalblue;
}
