.Toolbar {
    background: royalblue;
    padding: 20px 0;
    font-size: 20px;
}

.Toolbar nav {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Toolbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Toolbar a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: color 0.5s;
}

.Toolbar a:hover {
    color: yellow;
}

.add-btn {
    background: green;
    outline: none;
    border: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}

.add-btn:hover {
    color: white;
}

.add-btn:active {
    background: #7abf12;
    color: white;
}