.ContactInfo {
    display: flex;
    width: 100%;
}

.ContactInfo .img-block {
    width: 50%;
}

.ContactInfo .img-block img {
    height: 300px;
    width: auto;
}

.ContactInfo .text-block {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.ContactInfo .text-block h3 {
    margin: 0 0 20px;
    font-size: 42px;
}

.ContactInfo .text-block p {
    margin: 0 0 10px;
    font-size: 24px;
}

.ContactInfo .text-block a, button {
    font-size: 24px;
    text-decoration: none;
    border: solid 1px royalblue;
    align-self: flex-start;
    padding: 10px 20px;
    color: royalblue;
    margin-bottom: 10px;
}