.ContactItem {
    display: flex;
    border: solid 1px royalblue;
    width: 100%;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.ContactItem:active {
    background: royalblue;
    color: white;
}

.ContactItem img {
    width: auto;
    height: 100px;
}

.ContactItem p {
    font-size: 30px;
    margin: 0 0 0 40px;
}